{% extends 'estoque/base.html' %}
{% load static %}
{% block content %}

<section class="py-4 container" data-aos="flip-down" data-aos-delay="400">
    <div class="col-10 col-xl-8 mx-auto">
        <div class="border border-2 p-3 ">
            <h3 class="fw-bold p-3">Cadastrar Produto</h3>
            <form id="contato">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingNome" placeholder="Nome do Produto">
                            <label for="floatingNome" class="px-3">Nome do Produto</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="number" min="0" class="form-control" id="floatingQuantidade" placeholder="Quantidade">
                            <label for="floatingQuantidade" class="px-3">Quantidade</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>Tamanho</option>
                                <option value="pp">PP</option>
                                <option value="p">P</option>
                                <option value="m">M</option>
                                <option value="g">G</option>
                                <option value="gg">GG</option>
                            </select>
                            <label for="inputGroupSelect01">Tamanho</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="date" class=" px-3 form-control" id="floatingTelefone" placeholder="Data de Chegada">
                            <label for="floatingTelefone" class="px-3">Data de Chegada</label>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success w-100 py-3 fw-bold mt-3">Enviar</button>
            </form>
        </div>
    </div>

</section>

{% endblock %}