{% extends 'estoque/base.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-between py-3">
    <h2 class="texto-titulos">Estoque</h2>
    <a href="{% url 'adicionar_estoque' %}"><button type="button" class="btn btn-secondary rounded-5 fw-bold">+Adicionar
            Estoque</button></a>
</div>

<section class="tags container">
    <p class="tags__titulo">Tamanhos:</p>
    <ul class="tags__lista">
        <li class="tags__tag">P</li>
        <li class="tags__tag">PP</li>
        <li class="tags__tag">M</li>
        <li class="tags__tag">G</li>
        <li class="tags__tag">GG</li>
        <li class="tags__tag">XG</li>
        <form action="{% url 'buscar' %}" class="d-flex" role="search">
            <input class="form-control me-2 busca__input" type="text" name="buscar" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><img class="busca__icone" src="{% static '/assets/search.png' %}" alt="ícone de search">
            </button>
        </form>
    </ul>
</section>
<div class="p-3 mb-2 bg-box">
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Data de Chegada</th>
                <th scope="col">Alterar</th>
            </tr>
        </thead>
        <tbody class="-3">
            {% if estoque %}
            {% for produto in estoque %}
            <tr>
                <th scope="row">1</th>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.tamanho }}</td>
                <td>{{ produto.data }}</td>
                <td><a type="button" class="btn btn-danger">Editar</a></td>
            </tr>
            {% endfor %}
            {% else %}
            <div class="imagem__texto">
                <p>Produto não encontrado</p>
            </div>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}