{% extends 'estoque/base.html' %}
{% load static %}
{% block content %}

<div class="container d-flex justify-content-between py-3">
  <h2 class="texto-titulos">Clientes</h2>
  <a href="{% url 'novo_cliente' %}"><button type="button" class="btn btn-secondary rounded-5 fw-bold">Novo
      Cliente</button></a>
</div>
<div class="p-3 mb-2 bg-box">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="-3">
      {% if clientes %}
      {% for cliente in clientes %}
      <tr>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.cpf }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>Ver no futuro</td>
          <td><a type="button" class="btn btn-danger">Editar</a></td>
      </tr>
      {% endfor %}
      {% else %}
      <div class="imagem__texto">
          <p>Cliente não encontrado</p>
      </div>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}