
:root {
    --preto-normal: #232224;
    --preto-dark: #161617;
    --preto-light: #353436;

    --branco-normal: #ffffff;
    --branco-fundo: #E5E5E5;
    --branco-dark: #D9D9D9;

    --azul-padrao: #0B4385;
    
    --verde-botoes: #157347;
}

body {
    background-color: var(--branco-fundo);
}

.azul-fundo {
    background-color: var(--azul-padrao);
}

.imagem-redonda {
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--branco-dark);
}
